<html>
<head>
<title> blog </title>
</head>
<body>
    <header>
      <div class="button1">
      <button>Sign in</button>
      <button>Get started</button>
    </div>
      <img class="headericon" src="assets/icon/header.png" alt="header.png">
        <h1>ANGULAR BLOG PROJECT</h1>
<div class="button2">
        <button>Follow</button>
      </div>
    </header>
<main>
  <div class="onerow">

  <article>
    <a class="recentblog">
      <div class="imgs">
        <img src="assets/0_VDStl74jtuu4-ank.png" alt="0_VDStl74jtuu4-ank.png">
      </div>
    <div class="details">
      <h1>The Angular Developer Survey</h1>
      <p>The 2020 Angular Developer Survey ends this week! If you haven’t already, please complete the survey now. It takes only about a minute</p>
      <img class="circular--square" src="assets/icon/1_y_L34o3bW0QELQm1KOFMTw.jpeg"  alt="author image">
      <p class="author-name">Stephen Fluin</p><br>
      <p class="read-time"> Apr 21 &nbsp;.&nbsp; <time>2</time>min read</p>
    </div>
    </a>
  </article>
</div>

<div class="otherblogs">
  <article>
    <a [routerLink]="['/landing1']">
   <div class="img">
        <img src={{path}}  alt="0_8X-LhY0W2PMgPzsj.jpeg">
    </div>
        <h1>Version 9.1 of Angular Now Available — TypeScript 3.8, faster builds, and more</h1>
        <p>We just released Version 9.1 of Angular. This is a minor release of the framework and the CLI that is a drop-in replacement for 9.0</p>  

        <img class="circular--square" src="assets/icon/1_y_L34o3bW0QELQm1KOFMTw.jpeg"  alt="author image">
        <p class="author-name">Stephen Fluin</p><br>
        <p class="read-time">mar 25 &nbsp;.&nbsp; <time>3</time>min read</p>
      </a >
     </article>
  <article>
    <a [routerLink]="['/landing2']">
  <div class="img">
      <img src={{pathone}}  alt="0_4tkqVWVOl0dGjbO9.png">
   </div>
      <h1>Version 9 of Angular Now Available— Project Ivy has arrived!</h1>
      <p>The 9.0.0 release of Angular is here! This is a major release that spans the entire platform, including the framework, Angular Material</p>  
      <img class="circular--square" src="assets/icon/1_y_L34o3bW0QELQm1KOFMTw.jpeg"  alt="author image">
      <p class="author-name">Stephen Fluin</p>  <br>
      <p class="read-time">feb 6 &nbsp;.&nbsp; <time>11</time>min read</p>
    </a>
  </article>
  
  <article>
    <a [routerLink]="['/landing3']">
      <div class="img">
      <img src={{pathtwo}}  alt="1_QnezsZgTyTAp_EDOY4xAbQ.png">
    </div>
      <h1>When your dependencies break your software, wouldn’t you like them to fix it?</h1>
      <p>In this article we want to share how we at Allianz Global Digital Factory (GDF) use the tooling of Angular to keep our ecosystem in sync</p>
      <img class="circular--square" src="assets/icon/2*yZywBLVWsNmhCTBK28OBzg.jpeg"  alt="author image">
      <p class="author-name"> AllianzGlobalDigitalFactory</p>  
      <br>
      <p class="read-time">nov 17 &nbsp;.&nbsp; <time>6</time>min read</p>
    </a>
</article>




  <article>
    <a [routerLink]="['/landing4']">
      <div class="img">
      <img src={{paththree}} alt="1_Ic7kUV1ZufRtCwqsrbBS_g.png">
    </div>
      <h1>Building Accessibility in Angular Applications</h1>    
      <p>Accessibility should never be an afterthought! Everyone should be a stakeholder in it; developers, designers, and of course the testers.</p>
     <img class="circular--square"  src="assets/icon/1*9qjpVtHsuY1FuM93vK9Ihw.jpeg"  alt="author image">
     <p class="author-name"> Zama Khan Mohammed</p>  
      <br>
      <p class="read-time"> nov 6 ,2019 &nbsp;.&nbsp; <time>5</time>min read</p>
    </a>
  </article>

  <article>    
    <a [routerLink]="['/landing5']">
      <div class="img">  
    <img src={{pathfour}} alt="1__QSvxuDwVTbzZcXjU-cPDA.png">
  </div>
    <h1>Announcing the Capacitor ngAdd Schematic</h1>
      <p>Today, we at Ionic are happy to share the release of Angular Schematics for Capacitor. Let’s take a look at what Capacitor is and how to</p>
     <img class="circular--square"  src="assets/icon/2*zGOPlEqPjkOlj-7ff-vQQg.png"  alt="author image">
     <p class="author-name"> Mike Hartington</p> 
      <br>
      <p class="read-time">oct 24,2019 &nbsp;.&nbsp; <time>3</time>min read</p>
    </a>
  </article>
  <article>
    <a [routerLink]="['/landing6']">
      <div class="img">
      <img src={{pathfive}} alt="0_YmACHzhcWOUpJl2w.jpeg">
    </div>
      <h1>The Angular Team @ AngularConnect 2019</h1>
      <p>It was our pleasure to attend AngularConnect again this year and to talk to hundreds of amazing engineers</p>
      <img class="circular--square"  src="assets/icon/1_y_L34o3bW0QELQm1KOFMTw.jpeg"  alt="author image">
      <p class="author-name">Stephen Fluin</p>   
      <br>
      <p class="read-time">oct 17 &nbsp;.&nbsp; <time>11</time>min read</p>
    </a> 
</article>



  <article>
    <a [routerLink]="['/landing7']">
      <div class="img">
      <img src={{pathsix}}  alt="0_10Nt13mb6tG_vze2.png">
    </div>
      <h1>Hack for Good</h1>
      <p>The Angular and NativeScript teams teamed up to organise Hack For Good — an online hackathon with prizes.</p>
      <img class="circular--square"  src="assets/icon/1_y_L34o3bW0QELQm1KOFMTw.jpeg"  alt="author image">
      <p class="author-name">Stephen Fluin</p>  
    
    <br>
    <p class="read-time">oct 14,2019 &nbsp;.&nbsp; <time>8</time>min read</p>  
  </a>
  </article>

  <article>
    <a [routerLink]="['/landing8']">
      <div class="img">
    <img src={{pathseven}} alt="1_8GMZlW-M3VqAqt5RuIoQsg.png">
  </div>

    <h1>Perspectives from Contributing to Angular</h1>
    <p>This past summer I had the privilege of being a part of the Angular Team at Google, where I worked on source code indexers. I developed an…</p>
    <img class="circular--square"  src="assets/icon/2*apjp5WMHRTj5cYc8xHWmpA.jpeg"  alt="author image">
    <p class="author-name"> Ayaz Hafiz</p>  
    
    <br>
    <p class="read-time">sep 9 2019 &nbsp;.&nbsp; <time>6</time>min read</p>  
  </a>
  </article>
  

  <article>
    <a [routerLink]="['/landing9']">
      <div class="img">
      <img src={{patheight}}  alt="1_sd2ofSRrvZss_EAVnulyhQ.png">
    </div>
      <h1>Angular Tools for High Performance</h1>
      <p>This post, contains a list of new tools and practices that can help us build faster Angular apps and monitor their performance over time…</p>
      <img class="circular--square"  src="assets/icon/0*Uk2Rn0gKNX2MoNQu.jpg"  alt="author image">
      <p class="author-name">Sebastian Witalec</p> 
      <br>
     <p class="read-time">aug 27,2019 &nbsp;.&nbsp; <time>5</time>min read</p>   
</a>
    </article>
  </div>
</main>

<footer>
   <div class="anchor">

    <a href="https://blog.angular.io/about">About Angular Blog.</a>
    <a href="https://blog.angular.io/latest">Latest Stories.</a>
    <a href="https://blog.angular.io/archive">archive.</a>
    <a href="https://about.medium.com">About Medium.</a>
    <a href="https://medium.com/policy/9db0094a1e0f">Terms.</a>
    <a href="https://medium.com/policy/f03bf92035c9">Privacy.</a>
  </div>
</footer>


</body>

</html>

